* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- BODY --- */

.body {
    background-color: #e8e8e8;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --- HEADER --- */

.header {
    background-color: #FDBA2C;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: .5rem;
}

.header input {
    width: 50%;
    height: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem; 
    background-color: #F3B32A;
    padding-left: 3.5rem;
    margin-right: 0.5rem;  
    border: none;
}

.drop-down-menu {
    width: 21px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.drop-down-bar {
    background-color: #000;
    width: 21px;
    height: 3px;
    margin: 2px 0;
}

.search {
    position: relative;
    left: 2rem;
}

.icons {
    visibility: hidden; 
}

/* --- MAIN --- */
    
.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-box {
    width: 90%;
    min-height: 15rem;
    max-height: 30rem;
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: .8rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2rem;
    border: 2px solid #a4a4a4;
    border-radius: 10px;
}

.main-box span {
    position: relative;
    width: 9rem;    
    height: 1.5rem;
    top: -0.5rem;
    left: 1rem;
    color: #a4a4a4;
    background-color: #e8e8e8;
}


.main-box form {
    display: flex;
    flex-direction: column;
}

.main-box label {
    width: 3rem;
    height: 1.5rem;
    color: #a4a4a4;
    position: relative;
    right: -.9em;
    top: -0.9em;
    padding: .3rem;
}

.main-box input {
    width: 90%;
    height: 20px;
    align-self: center;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
}

.submain-box {
    width: 95%;
    min-height: 15rem;
    max-height: 30rem;
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: .8rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1.2rem;
    padding: 0 0.5rem;
    border: 2px solid #a4a4a4;
    border-radius: 10px;
}

.submain-box span {
    position: relative;
    width: 2.5rem;    
    height: 1.5rem;
    top: -0.6rem;
    left: 1rem;
    color: #a4a4a4;
    background-color: #e8e8e8;
}

.submain-box input {
    width: 20px;
    height: 20px;
    align-self: flex-start;
    color: #a4a4a4;
    background-color: #e8e8e8;
    border: 2px solid #a4a4a4;
    margin: 0 .5rem;
}

.item {

    border: 1px solid black;

}

.item label {
    width: 3rem;
    height: 1.5rem;
    color: #a4a4a4;
    border: 1px solid black;
}

.item input {
    width: 70%;
    height: 20px;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 5px;
    margin: .5rem;
    border: 1px solid black;

}

    @media (min-width: 768px) {

        .icons {
            width:40%;
            display: flex;
            flex-direction: row;
            padding-left: 0.5em; 
            visibility: visible; 
        }
        
        .icons-img {
            flex-basis: 3.5em; 
        }
    }