* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.body {
    background-color: #e8e8e8;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    /* border: 1px solid black; */
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: .5em;
    background-color: #FDBA2C;
    /* border: 1px solid black; */
}

.icons {
    visibility: hidden; 
}


.drop-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 21px;
    height: 30px;
    margin: 10px;
    /* border: 1px solid black; */
}

.drop-down__bar {
    width: 21px;
    height: 3px;
    background-color: #000;
    margin: 2px 0;
}


.input {
    width: 50%;
    height: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8em; 
    background-color: #F3B32A;
    padding-left: 3.5em;
    margin-right: 0.5em;  
    border: none;
}

.input__img {
    position: relative;
    left: 2em;
}

.cadastro-notas {
    display: flex;
    flex-direction: column;
    width:80%;
    height: 15em;
    margin-top: 3em;
    border: 2px solid #a4a4a4;
    border-radius: 10px;
    /* border: 1px solid black; */
}

.cadastro-notas__titulo {
    width: 9.5rem;
    height: 2rem;;
    padding: .3em;
    position: relative;
    right: -.9em;
    top: -0.9em;
    font-size: .8em;
    font-family: Arial, Helvetica, sans-serif;
    color: #a4a4a4;
    background-color: #e8e8e8;
    /* border: 1px solid black; */
}


.cadastro-notas__input {
    display: flex;
    align-self: center;
    width: 95%;
    height: 4em;
    border: none;
    border-radius: 5px;
    margin: 0 1em;
}

.cadastro-notas__inside {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-self: center;
    width: 95%;
    height: 15em;
    margin: 1em 0;
    padding: 0 1rem;
    border: 2px solid #a4a4a4;
    border-radius: 10px;
}

.cadastro-notas__inside--titulo {
    position: relative;
    width: 3rem;
    height: 1.2rem;;
    padding: .3em;
    right: -.9em;
    top: -0.9em;
    font-size: .8em;
    font-family: Arial, Helvetica, sans-serif;
    color: #a4a4a4;
    background-color: #e8e8e8;
    /* border: 1px solid black; */
}

.cadastro-notas__inside--add-delete {
    font-size: 0.8em;
    color: #a4a4a4;
    width: 2em;
    height: 2em;
    background-color: #e8e8e8;
    margin-bottom: 1.2rem;
    border: 2px solid #a4a4a4;
    border-radius: 5px;
}

.cadastro-notas__inside--tudo {
   
}


.cadastro-notas__inside--label {
    font-size: .8em;
    font-family: Arial, Helvetica, sans-serif;
    color: #a4a4a4;
    background-color: #e8e8e8;
    /* border: 1px solid black; */
}

.cadastro-notas__inside--input {
    width: 65%;
    height: 2em;
    border: none;
    border-radius: 5px;
    margin: 0 1em;
}



.nota {
    min-width: 10em;
    min-height: 10em;
    max-width: 30em;
    max-height: 30em;
    resize: both;
    overflow: auto;
    margin: 2em;
    background-color: yellowgreen;
    box-shadow: 0 2px 2px 0 #757575;
}




@media (min-width: 768px) {
    .icons {
        width:40%;
        display: flex;
        flex-direction: row;
        padding-left: 0.5em; 
        /* border: 1px solid black; */
        visibility: visible; 
    }
    
    .icons__img {
        flex-basis: 3.5em; 
    }
}